# Godot 4+ specific ignores
.godot/

# Ignore library files but not the gdextension file
gdextensions/example/bin/*

!gdextensions/example/bin/android
gdextensions/example/bin/android/*
!gdextensions/example/bin/android/.gitkeep

!gdextensions/example/bin/linux
gdextensions/example/bin/linux/*
!gdextensions/example/bin/linux/.gitkeep

!gdextensions/example/bin/macos
gdextensions/example/bin/macos/*
!gdextensions/example/bin/macos/.gitkeep

!gdextensions/example/bin/windows
gdextensions/example/bin/windows/*
!gdextensions/example/bin/windows/.gitkeep

!gdextensions/example/bin/*.gdextension
.sconsign*.dblite

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

# VSCode
.vscode/*
!.vscode/extensions.json
.DS_Store
godot-cpp
